/*
#mylabel {
  text-align: center;
  font-size: 50 px;
  display: block;
}
#dass
{
    display: block;
    text-align: center;
    
} */

#mybod
{
  background-color: red;
  width: 100px;
  height: 100px;
  border: 1px solid;
}